body {
   background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR14wUeGjug_Xp78Q4vE8MnRpnPLsC2iLuzEFTZSKz7SlV8ELDF");
   background-color: #cccccc;
   background-repeat: repeat;
}

div.background {
    background: url(klematis.jpg) repeat;
    border: 2px solid black;
}

div.transbox {
    margin: 30px;
    background-color: grey;
    border: 1px solid black;
    opacity: 0.85;
    filter: alpha(opacity=85); /* For IE8 and earlier */
}

div.transbox h1 {
    margin: auto;
    font-weight: bold;
    color: rgb(148,0,211);
   text-align: center;
}

div.motd {
   text-align: center;
   color: #520066;
   font-weight: bold;
   border-right: 2px solid;
   border-left: 2px solid;
   border-bottom: 2px solid;
   border-top: 1px solid;
   border-color: black;
   background-color: #bfbfbf;
   opacity: 0.85;
}

a {
   color: #5900b3;
   text-decoration: none;
}
